.App {
  display: flex;
  justify-content: center;
  background-color: #819e97;
}

.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 150px;
  margin: 10%;

}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10%;
  padding: 10%;
  border: 0.5%;
  height: 200px;
  width: 150px;
}

.card button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10%;
  padding: 10%;
  border: 0.5%;
  height: 200px;
  width: 150px;
  background-color: #5999c1;
}


.navlink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  padding: 1%;
  margin: 5%;
  color: white;
}
